@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  background: #fdf6e3;
  color: #2aa198;
  overflow: hidden;
}

nav {
  min-height: 10vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

#social {
  display: flex;
}

#social p {
  padding: 0px 10px;
}

.page {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}

#social a {
  text-decoration: none;
  color: #2aa198;
}

#social a:hover {
  cursor: pointer;
  background: #2aa198;
  color: #fdf6e3;
  transition: all 0.3s ease;
  border-radius: 25px;
}

/* .hero {
  overflow: hidden;
  height: 500px;
  align-self: center;
  justify-self: center;
  display: flex;
}

.hero img {
  border-radius: 50%;
} */

.hero {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  margin-left: 200px;
  border: 2px solid #2aa198;
}

.hero img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.details {
  grid-column: 2/3;
  align-self: end;
}

.details h1 {
  font-size: 64px;
  font-weight: 400;
}

.details h2 {
  font-size: 30px;
  font-weight: 400;
  padding: 20px 0px;
  margin-bottom: 50px;
}

.details p {
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0px 50px 0px;
}

/* Styles for project.html */
.project {
  min-height: 90vh;
  display: flex;
  margin: 0px 10px;
  justify-content: center;
  text-align: center;
  padding-bottom: 50px;
}

.title {
  grid-column: 1/4;
  align-self: end;
  justify-self: end;
  align-self: flex-end;
  padding: 10px;
}

.title h2 {
  font-weight: 400;
  font-size: 36px;
}

.active {
  background: #2aa198;
  color: white;
  border-radius: 5%;
}

/* Styles for About.html */
.about {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
}

.about-detail {
  grid-column: 2/3;
  align-self: end;
}

.about-detail p {
  /* margin-bottom: 500px; */
  font-weight: 400;
  font-size: 20px;
  padding: 45px;
}

.about-image img {
  width: 500px;
  height: auto;
  margin-left: 35%;
  margin-top: 10%;
}

.about .about-image img {
  border: 5px solid #2aa198;
}
